html,
body {
    height: 100%;
}
body {
    margin: 0 auto;
	font: 1em 'Rubik', 'Arial', sans-serif;
    text-transform: uppercase;
    background-color: #0a0b0d;
    color: #fff;
}
section {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    position: relative;
}
section > button {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 3em;
    height: 2.0625em;
}
aside {
    background-color: #000;
    width: 23.0625em;
    padding: 8em 2.8125em;
    box-sizing: border-box;
}
fieldset {
    width: 100%;
    box-sizing: border-box;
}
.right-aside {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
section div {
    padding: 2.8125em 0;
    width: 51.9375em;
}
input,
select {
    height: 4.125em;
    width: 100%;
    background-color: #221203;
    border: 0;
    border-bottom: 0.0625em solid #e67817;
    color: inherit;
    font-family: inherit;
    text-transform: inherit;
    box-sizing: border-box;
    margin: 1em 0;
}
input:focus,
select:focus {
    outline: none;
}
input[placeholder] {
    padding-left: 5px;
}
input[type="submit"] {
    background-color: #e67817;
}
input[type="checkbox"] {
    width: 25px;
    height: 25px;
}
table {
    margin: 0 auto;
    width: 95%;
/*    border-collapse: collapse;*/
}
thead {
    color: #e67817;
    border-bottom: 0.125em solid #737374;
}
tbody tr:hover {
    background-color: #353E44;
    -webkit-transition: all  0.3s;
}
.main-table > thead > tr,
.main-table > tbody > tr {
    height: 5.625em;
}
.main-table > thead > tr > td,
.main-table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
}
section:after {
    content: "";
    display: block;
}
.footer {
    width: 100%;
    background-color: #e67817;
    text-align: center;
    height: 3.875em;
    display: table;
}
.footer > div {
    vertical-align: middle;
    display: table-cell;
}
